@font-face {
    font-family: "WFA";
    src: url(styles/W95FA.otf);
}

body {
    overflow-y: hidden;
    font-family: WFA !important;
    font-size: 1.125em;
}

.main-window {
    height: calc(100vh - 1em);
    overflow-y: scroll;
    user-select: none;
}

.list {
    width: calc(100% - 0.125em);
}

.template {
    display: none !important;
}

.copy-dialog {
    max-height: 10em;
    display: relative;
    user-select: none;
}

.copy-dialog .dialog-body {
    padding: 1em;
    padding-bottom: 0.25em;
}

.copy-dialog input {
    background-color: var(--input-bg) !important;
    user-select: all;
}

.copy-dialog .padding {
    padding-top: 0.75em;
    text-align: center;
}

.copy-dialog-wrapper {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}


.edit-menu-wrapper {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.edit-menu {
    top: 0px;
    left: 0px;
}

.dialog-wrapper {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-dialog {
    max-height: 10em;
    display: relative;
    user-select: none;
}

.sku-input {
    font-family: monospace !important;
    width: 127px !important;
    font-size: 1.2em !important;
}

.alcenter {
    text-align: center;
}

.remove-dialog .padding {
    word-break: break-all;
}

.index-input {
    -moz-appearance: textfield;
    font-family: monospace !important;
    width: 60px !important;
    font-size: 1.2em !important;
}
.index-input::-webkit-outer-spin-button,
.index-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.detailed tr[aria-selected=true] {
    background-color: transparent;
}

.button {
    width: fit-content;
    min-width: 1px;
    min-height: 1px;
    padding: 0px;
}

.button:active {
    min-width: 1px;
    min-height: 1px;
    padding: 0px !important;
}


.image-button {
    padding: 2.5px;
    padding-right: 7.5px;
    display: flex;
    gap: 2px;
    align-items: center;
}

.title-bar-title {
    padding: 0.125em;
}

.icon-image {
    image-rendering: pixelated;
}